<h1>The Best Search Engine!(NO)</h1>
<div class="container">
<input type="text" id="inp" placeholder="What do you need?" >
<input value="Search" type="button" id="search">
<div id='results'>

</div>
</div>
